{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>새로운 계정 만들기 🌱</h2>
        <p>환영합니다! 정보를 입력해주세요.</p>

        <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" id="username" placeholder="아이디 입력">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="비밀번호 입력">
        </div>
        <button id="signup-btn">가입하기</button>
    </div>

    <script src="/static/js/auth/signup.js"></script>
{% endblock %}