<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parc World</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/table.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div>
            <a href="/" class="logo-link">
                <div class="logo">
                    <!-- <img src="{{ url_for('static', path='img/logo.png') }}" alt="logo"> -->
                </div>
                <div class="company-name">
                    <h1>Parc</h1>
                </div>
            </a>
        </div>
        <nav class="auth-menu" id="header-auth-nav">
            <a href="/login" class="login-btn">로그인</a>
            <a href="/signup" class="signup-btn">회원가입</a>
        </nav>
    </header>
    <nav class="nav-menu">      
        {% for menu in top_tabs %}
            <a href="{{ menu.url }}" class="top-button {% if active_top == menu.id %}active{% endif %}">
                {{ menu.name }}
            </a>
        {% endfor %}
    </nav>
    <nav class="nav-tab">      
        {% for tab in nav_dtl_tabs %}
            <a href="{{ tab.url }}" class="top-button {% if tab.id == active_dtl %}active{% endif %}">
                {{ tab.name }}
            </a>
        {% endfor %}
    </nav>    

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Parc co.</p>
    </footer>

    <script type="module" src="/static/js/auth/check_auth.js"></script>
</body>
</html>