# 보안을 위한 시크릿 키 (절대 외부에 노출되면 안 됩니다)
SECRET_KEY="your-secret-key-here"

# JWT 암호화 알고리즘
ALGORITHM="HS256"

# 데이터베이스 주소
DATABASE_URL="sqlite:///./parc.db"

# NewsAPI
NEWSAPI_API_KEY="your-newsapi-api-key-here"
NEWSAPI_COUNTRY="kr"
NEWSAPI_CATEGORIES="business"
NEWSAPI_PAGE_SIZE=50
NEWS_COLLECTION_INTERVAL_MINUTES=10
NEWSAPI_QUERY="경제 OR 금융 OR 증시 OR 환율 OR 금리"

ACCESS_TOKEN_EXPIRE_MINUTES=30
FRONTEND_URL="http://127.0.0.1:5500"
# 나중에 배포하면 True 로
COOKIE_SECURE=False 
COOKIE_SAMESITE="lax"

# Gemini API
GEMINI_API_KEY="your-gemini-api-key-here"
GEMINI_MODEL="gemini-2.5-flash"
GEMINI_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
