# 보안을 위한 시크릿 키 (절대 외부에 노출되면 안 됩니다)
SECRET_KEY="your-secret-key-here"

# JWT 암호화 알고리즘
ALGORITHM="HS256"

# 데이터베이스 주소
DATABASE_URL="sqlite:///./parc.db"

ACCESS_TOKEN_EXPIRE_MINUTES=30
FRONTEND_URL="http://127.0.0.1:5500"
# 나중에 배포하면 True 로
COOKIE_SECURE=False 
COOKIE_SAMESITE="lax"