body {
    min-height: 100vh;
    background-color: rgb(99, 85, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; /* 세로 기준으로 가운데 정렬합니다 */    
    background-color: rgb(255, 101, 101);
    height: 30px;
}
.auth-menu a{
    font-size: 15px;
}
.nav-menu {
    background-color: rgb(114, 151, 40);
}

.nav-tab {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(204, 255, 103);
}

main {
    background-color: rgb(141, 141, 141);
    padding: 7px 2%;
    flex: 1;
    display: flex;      /* 자식인 board-container를 조절하기 위해 Flex 설정 */
    flex-direction: column; /* 세로 방향으로 정렬 */

    height: auto;
}

.main-container{
    flex: 1;
    display: flex;      /* 자식인 board-container를 조절하기 위해 Flex 설정 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    background-color: rgb(252, 252, 252);

    max-width: 1500px;
    width:100%;
    margin: 0 auto;

    height: auto;
}

.card-grid {
    display: grid;
    /* 👇 화면 너비에 맞춰서 최소 250px짜리 카드를 구겨 넣고, 남는 공간은 공평하게 나눠 가지라는 뜻! */
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 1%;
}

.card {
    background-color: #929292;
    border: 1px solid #e0e0e0;
    border-radius: 10px; /* 모서리 둥글게 */
    overflow: hidden;    /* 이미지가 둥근 모서리를 삐져나가지 않게 막음 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); /* 은은한 그림자 */
    display: flex;
    flex-direction: column; /* 내용을 위에서 아래로 세로 정렬 */
    
    min-height: 300px;
    height: auto;
}

.split-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.split-right {
    text-align: right; 
}

footer {
    background-color: rgb(220, 255, 150);
}


p, h2 {
    margin: 0px;
}

/* 2. 화면이 넓어졌을 때 (PC/태블릿: 650px 이상부터 2열로 변경) */
@media (min-width: 650px) {
    .card-grid {
        /* 무조건 2개의 열만 생성합니다. 
           1500px이 되어도 3개로 늘어나지 않고 2개를 유지합니다. */
        grid-template-columns: repeat(2, 1fr); 
    }
}