<header>
    <div>
        <a href="/" class="logo-link">
            <div class="logo">
                <!-- <img src="{{ url_for('static', path='img/logo.png') }}" alt="logo"> -->
            </div>
            <div class="company-name">
                <h1>Parc</h1>
            </div>
        </a>
    </div>
    <nav class="auth-menu" id="header-auth-nav">
        <a href="/pages/auth/login.html" class="login-btn">로그인</a>
        <a href="/pages/auth/signup.html" class="signup-btn">회원가입</a>
    </nav>
</header>