{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <h2>경제 지표</h2>

        <div class="card-grid">
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    <div class="split-container">
                        <div class="left-box">왼쪽 내용</div>
                        <div class="right-box">오른쪽 내용</div>
                    </div>
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    경제 지표
                </div>
                <div class="card-body">
                    ㅋㅋㅋ
                </div>
                <div class="card-footer">
                    ㅎㅎ
                </div>
            </div>
            <div>
               <h2>zzz</h2>
            </div>
        </div>

    </div>

    <script src="/static/js/auth/login.js"></script>
{% endblock %}