{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <div class="split-container">
            <div class="split-left">
                <h2>경제 정보</h2>
            </div>
            <div class="split-right">
                <a href="#" class="write-btn">글쓰기</a>
            </div>
        </div>
        
        <div class="card-grid">
            <div class="card">
                <div class="card-head"></div>
                <div class="card-body">
                    <div class="table-container">
                        <table class="infos-table">
                            <thead>
                                <tr>
                                    <th>제목</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>첫번째글</td>
                                </tr>
                                <tr>
                                    <td>두번째글</td>
                                </tr>
                                <tr>
                                    <td>세번째글</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}